<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlidulich">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/travel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/travel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".GiaoDien.Menu"
            android:label="DS khách hàng"
            android:parentActivityName=".GiaoDien.Login">
        </activity>

        <activity android:name=".GiaoDien.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".GiaoDien.ActivityDSKhachHang"
            android:label="DS khách hàng"
            android:parentActivityName=".GiaoDien.Menu"></activity>
        <activity android:name=".GiaoDien.ActivitySuaKhachHang"
            android:label="Sửa khách hàng"
            android:parentActivityName=".GiaoDien.ActivityDSKhachHang" />
        <activity
            android:name=".GiaoDien.ActivityThemKhachHang"
            android:label="Thêm khách hàng"
            android:parentActivityName=".GiaoDien.ActivityDSKhachHang" />

        <activity android:name=".GiaoDien.ActivityDSTour"
            android:label="DS tour"
            android:parentActivityName=".GiaoDien.Menu"></activity>
        <activity android:name=".GiaoDien.ActivitySuaTour"
            android:label="Sửa tour"
            android:parentActivityName=".GiaoDien.ActivityDSTour" />
        <activity
            android:name=".GiaoDien.ActivityThemTour"
            android:label="Thêm tour"
            android:parentActivityName=".GiaoDien.ActivityDSTour" />

        <activity android:name=".GiaoDien.ActivityDSPhieuDK"
            android:label="DS phiếu đăng ký"
            android:parentActivityName=".GiaoDien.Menu"></activity>
        <activity android:name=".GiaoDien.ActivitySuaPhieuDK"
            android:label="Sửa phiếu đăng ký"
            android:parentActivityName=".GiaoDien.ActivityDSPhieuDK" />
        <activity
            android:name=".GiaoDien.ActivityThemPhieuDK"
            android:label="Thêm phiếu đăng ký"
            android:parentActivityName=".GiaoDien.ActivityDSPhieuDK" />

<!--        <activity android:name=".SplashScreen"-->
<!--            android:theme="@style/Theme.AppCompat.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>

</manifest>